<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let rick of ricks">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{rick.name}}</mat-card-title>
        <mat-card-subtitle>{{rick.name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{rick.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="this.openDialog(rick.id);">DELETAR</button>
        <button mat-button [routerLink]="['/rick',rick.id,'detail']">DETALHES</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

